# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# Databases
*.db
*.sqlite3

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store